body {
    background-color: aquamarine;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 65vh;  /*75vh*/
    width: 21vw;  /*25vw*/
    background-color: orange;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
}

.display {
    background-color: rgb(238, 234, 234);
    height: 10vh;  /*5vh*/
    text-align: end;
    font-size: 5vh;
    font-weight: 500;
    padding: 2.5vh;
    border: 4px solid gray;
}

.number-table {
    height: 56vh;
    background-color: rgb(223, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px 2px;
    align-content: flex-start;
}

button {
    background-color: white;
    width: 5vw;   /* 6w*/
    height: 10vh;   /*12vh*/
    font-size: 30px;
    flex-grow: 1;
    border-radius: 10px;
    flex-shrink: 0;
}

.equal {
    background-color: orangered;
}